.about-we {
    color: #000;
    padding: 14rem 0rem 8rem 0rem !important;
    &__item {
        img {
            width: 24px;
            height: 24px;
        }
        border-radius: 4px;
        padding: 2rem .75rem;
        background-color: #f1f2f3;
        h5 {
            font-size: 20px !important;
        }
    }
    .wrap {
        display: flex !important;
        justify-content: space-between !important;
        gap: 10px;
        flex-wrap: nowrap !important;
        margin-top: 7rem;

        @include downBreakpoint($breakpoint-up-lg) {
            gap: 4px;
            flex-wrap: wrap !important;
        }
    }
    i {
        color: #16e22a!important;
    }
}
