.button-home {
    color: #fff !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    background-color: #16E22A !important;
    padding: 16px 30px !important;
}

.button-black {
    color: #fff !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    background-color: #000 !important;
    padding: 16px 30px !important;
}

.button-presupuesto {
        color: #ffffff !important;
        border-color: #16E22A !important;
        background-color: #16E22A !important;
        transition: background-color .5s ease;
        box-shadow: none !important;
        font-weight: bold !important;
        line-height: normal !important;
        font-size: 16px !important;
        padding: .8rem 2.5rem !important;

        &:hover {
            background-color: #15701e !important;
            transition: background-color .2s ease;
        }
}

.button-presupuesto-big {
    color: #000 !important;
    border-color: #16E22A !important;
    background-color: #16E22A !important;
    box-shadow: none !important;
    font-weight: bold !important;
    line-height: normal !important;
    padding: 6px 36px !important;
    font-size: 12px !important;
}

.button-ghost {
    background: #1B1C1D00 !important;
    border-color: #1B1C1D !important;
    box-shadow: none !important;
    color: #1B1C1D !important;
    border: 1px solid #1B1C1D !important;
    padding: 0.5rem 3rem !important;
}

.button-primary {
    background: #1B1C1D !important;
    border-color: #1B1C1D !important;
    box-shadow: none !important;
    color: #ffffff !important;
    border: 1px solid #1B1C1D !important;
    padding: 0.5rem 3rem !important;
}

.button-presupuesto-big {
        color: #fff !important;
        border-color: #000 !important;
        background-color: #000 !important;
        box-shadow: none !important;
        font-weight: bold !important;
        line-height: normal !important;
        padding: 16px 36px !important;
        font-size: 12px !important;
}