.button-home {
    color: #fff !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    background-color: #16E22A !important;
    padding: 16px 30px !important;
}

.button-black {
    color: #fff !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    background-color: #000 !important;
    padding: 16px 30px !important;
}

.button-presupuesto {
        color: #000 !important;
        border-color: #16E22A !important;
        background-color: #16E22A !important;
        box-shadow: none !important;
        font-weight: bold !important;
        line-height: normal !important;
        padding: 6px 36px !important;
        font-size: 12px !important;
}