.contacto-simple {
    &__container {
        height: 560px;
        border-radius: 4px;
        padding: 5rem 2rem !important;
        background-color: #1b1c1d !important;
        margin-bottom: 5rem !important;
        box-shadow: 0 1px 14px #ffffff26 !important;

        @include downBreakpoint($breakpoint-up-sm) {
            height: fit-content;
            padding: 3rem 1rem !important;
        }
    }
    &__message {
        font-size: 14px !important;
        text-align: left;
        h4 {
            text-align: left !important;
        }

        span {
            margin-bottom: 3rem !important;
        }
         @include downBreakpoint($breakpoint-up-sm) {
            font-size: 22px !important;
        }
    }
    &__linemessage {
        margin-bottom:  2.5rem !important;
    }
    &__left {
        font-size: 24px !important;
        text-align: left !important;
    }
    &__image {
        width: 130px;
    }
    &__center {
        display: flex !important;
        justify-content: center !important;
    }
    text-align: center;
    .button-home {
        background-color: transparent !important;
        border: 2px solid #ffffff26;
    }
    &__message-container {
        display: flex !important;
        flex-direction: column ;
    }
}

.bold {
    font-weight: bold;
}