.customers {
    padding: 80px 0px;
    
    @include downBreakpoint($breakpoint-up-sm) {
        padding: 0px 0px;
    }
    &__title {
        color: #3c3c3c !important;
        text-align: left;
        margin: 0px !important;
        font-size: 70px !important;
        margin-bottom: 4rem !important;

        @include downBreakpoint($breakpoint-up-sm) {
            font-size: 24px !important;
            margin-bottom: 3rem !important;
            text-align: right;
        }
    }
    &__item {
        padding: 5rem 0px;
        border-radius: 4px;
        background-color: #1B1B1B;
    }
    @include downBreakpoint($breakpoint-up-sm) {
        .wrap {
            padding: 3rem 1rem !important;
        }
    }
}

.flex {
    display: flex;
    margin-bottom: 10px;
}
.gap {
    display: flex !important;
    gap: 10px;
    flex-wrap: nowrap !important;

    @include downBreakpoint($breakpoint-up-sm) {
        flex-wrap: wrap !important;
        padding: 3rem 1rem !important;
    }
}