.token-menu {
    position: fixed !important;
    width: 100vw !important;
    position: fixed;
    background-color: black;
    font-size: 16px;
    height: 100vh !important;
    margin: 0px !important;
    z-index: 1000000000000000000000000;
    padding: 4rem 2rem 6rem 2rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-size: 5rem;
    overflow-y: hidden;
    
    p {
        margin: 0px !important;
    }

    &__item {
        font-family: 'Anton', cursive;
        font-size: 2.2rem;
    }
    &__item-primary {
        font-family: 'Rubik Vinyl', cursive;
    }
    &__item-secondary {
        font-family: 'Banger', cursive;
    }

    &__activator {
        margin-bottom: 2rem;
        cursor: pointer;

        &:hover {
            transition: display 1s ease;
            .itemlink {
                display: none;
            }
            .itemhover {
                display: block;
            }
        }
        .itemhover {
            display: none;
        }
    }

    .yellow {
        color: #fac600;
    }
    .purple {
        color: #fc76fc;
    }
    .blue {
        color: #3ad2e6;
    }
    .green {
        color: #00e47b;
    }
}