.banner-tech {
    text-align: right;
    margin: 5rem 0 ;
    padding-right: 20px !important;

    @include downBreakpoint($breakpoint-up-sm) {
        font-size: 32px !important;
        margin-right: 0px !important;
        padding-right: 0px !important;
        margin: 12px 0px !important;

        .column {
            padding-right: 0px !important;
        }
    }
    h6 {
        font-size: 120px;
        color: #3C3C3C !important;

        @include downBreakpoint($breakpoint-up-sm) {
            font-size: 30px !important;
        }
    }
}

