.token-services {
    .box {
        padding: 2rem 1rem;
        margin: 1rem 0;
        border-radius: 4px;
        width: 100%;

        ul {
            list-style: none;
            padding-left: 0px;
            li {
                i {
                    color: #16E22A;
                }
            }
        }

        h4 {
            font-size: 1.5rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
    .blue {
        background-color: #00B4E3;
    }
    .red {
        background-color: #D8131B;
    }
    .yellow {
        background-color: #FDB700;
    }
    .pink {
        background-color: #FF7B83;
    }
    .al-center {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .mobile-center {
        display: flex !important;
        justify-content: center !important;
    }
}