.token-header {
    padding: 3.5rem 0;

    @include downBreakpoint($breakpoint-up-md) {
        padding: 1rem 0;
    }
}

.navigation-desktop {
    display: flex !important;
    justify-content: center !important;
    
    a {
        margin: 0 1rem !important;
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 16px;
        &:hover {
            color: #16E22A;
        }
    }
}

.mini-link {
    color: white;
    margin-left: 2rem;
    font-weight: bold;
    &:hover {
        color: #16E22A;
    }
}

@include upBreakpoint($breakpoint-up-md) {
    .only-menu-mobile {
        display: none !important;
    }
}