//Index
@import './mixins/index';
@import './variables/index';
@import './media-query.scss';
@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Rubik+Vinyl&display=swap');
// Components

@import '../scss/components/TokenHeader.module.scss';
@import '../scss/components/HomeBanner.module.scss';
@import '../scss/components/TokenServices.module.scss';
@import '../scss/components/AboutWe.module.scss';
@import '../scss/components/Button.module.scss';
@import '../scss/components/TechBanner.module.scss';
@import '../scss/components/TokenInfo.module.scss';
@import '../scss/components/Customers.module.scss';
@import '../scss/components/Contact.module.scss';
@import '../scss/components/MenuToken.module.scss';

//Commons

.container-tokenweb {
    position: relative;
}

.token-social {
    margin-bottom: 1rem;

    .token-color {
        color: #f1f2f3;
        margin-right: 12px;
        &:hover {
            color: #16e22a;
        }
    }
}